{# templates/article/_like_button.html.twig #}
<div class="like-article" data-article-id="{{ article.id }}">
    <button class="btn btn-like {{ isLiked ? 'btn-primary' : 'btn-outline-primary' }}"
            data-article-id="{{ article.id }}"
            data-csrf-token="{{ csrf_token('like' ~ article.id) }}">
        <i class="{{ isLiked ? 'fas' : 'far' }} fa-heart"></i>
        <span class="like-count">{{ article.likes|length }}</span> J'aime
    </button>
</div>